<h1>
  Dice Roll
</h1>

<form action="/process_roll">
  <!-- number of dice input -->
  <label for="num_dice">Number of dice to roll?</label>
  <input type="text" id="num_dice" name="dice">


  <!-- number of sides input -->
  <label for="num_sides">How many sides per die?</label>
  <input type="text" id="num_sides" name="sides">

  <button>Roll!</button>
</form>
